body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

*{
    transition: all 0.15s ease-in-out;
}

.container {
    width: 80%;
    margin: 10px auto;
}

header {
    background-color: pink;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: auto ;
    font-size: 2.5em;
    color: #000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    padding: 1rem 2rem;
    letter-spacing: 0.5rem;
    border-radius: 2em;
}

nav ul li a:hover{
    color:palevioletred;
    background-color: white;
    box-shadow: palevioletred 0px 0px 15px 4px, pink 0 0 5px 1px inset;
}

nav ul li a:active{
    color:red;
    background-color: transparent;
    box-shadow: white 0px 0px 15px 5px, white 0 0 5px 5em inset;
}


section {
    padding: 2em 0;
    border-bottom: 3px dotted lightpink;
}

section h2 {
    text-align: center;
    color: #333;
}

#about p, #contact p {
    text-align: center;
    font-size: 1.1em;
    color: #555;
}

#menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#menu ul li {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-images img {
    margin: 10px;
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-images img:hover{
    width: 500px;
    height: 500px;
}

footer {
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
